@mixin widthChanger($width) {
  .breakpoint-changer {
    width: $width;
  }
}

@media (max-width: 575.98px) {
  @include widthChanger(100%);
  .dark-hero-bg {
    width: 50px;
    height: 500px;
  }
  header {
    nav {
      .navbar-brand {
        margin: 15px 20px;
        height: 26px;
        img.logo {
          height: 26px;
        }
      }
    }
  }
  .content {
    .hero {
      .card {
        margin: 42px 0;
        .hero-text {
          .card-body {
            min-height: 220px;
            h5.card-title {
              font-size: 1.75rem;
              line-height: 2.38rem;
            }
          }
          .card-text {
            display: none;
          }
          .card-btn {
            width: 150px;
            height: 54px;
            font-size: 1.13rem;
            line-height: 2.75rem;
          }
        }
        .hero-watch-holder {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 0;
          .hero-watch-img {
            background-image: url("~@/assets/images/hero_watch_m.png");
            z-index: 1;
            height: 242px;
            width: 152px;
            top: -20px;
            float: right;
          }
          .hero-watch-white-bg {
            display: none;
          }
        }
      }
    }

    .features {
      .row.wrap {
        .feature {
          padding: 45px 0 37px;
          margin: 0;
          &:first-child {
            border-right: 1px solid rgba($link-color, 0.2);
            border-bottom: 1px solid rgba($link-color, 0.2);
          }
          &:nth-child(2) {
            border-bottom: 1px solid rgba($link-color, 0.2);
          }
          &:nth-child(3) {
            border-right: 1px solid rgba($link-color, 0.2);
          }
          label {
            font-size: 0.88rem;
            line-height: 1.13rem;
          }
        }
      }
    }
    .blogs {
      .card-group {
        flex-direction: column;
        padding: 0 20px;
        .card {
          margin-bottom: 20px;
          .card-content {
            .card-body {
              .card-title {
                color: $subtext-color;
                font-family: $font-bold;
                font-size: 0.88rem;
                line-height: 1.5rem;
              }
            }
            .card-footer {
              padding: 20px;
              a.nav-link {
                font-size: 0.88rem;
                line-height: 1.13rem;
              }
            }
          }
        }
      }
    }
  }
  footer {
    h4,
    .link-collections {
      text-align: center;
    }
    .subscription {
      .subscribe-form {
        form {
          .form-group {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  @include widthChanger(100%);
  .dark-hero-bg {
    width: calc(50% - 150px);
  }
  header {
    nav {
      .navbar-brand {
        margin: 23px 40px;
        height: 36px;
        img.logo {
          height: 36px;
        }
      }
    }
  }
  .content {
    .hero {
      .card {
        .hero-watch-white-bg {
          display: none;
        }
      }
    }

    .features {
      .row.wrap {
        .feature {
          padding: 45px 0 37px;
          margin: 0;
          &:first-child {
            border-right: 1px solid rgba($link-color, 0.2);
            border-bottom: 1px solid rgba($link-color, 0.2);
          }
          &:nth-child(2) {
            border-bottom: 1px solid rgba($link-color, 0.2);
          }
          &:nth-child(3) {
            border-right: 1px solid rgba($link-color, 0.2);
          }
        }
      }
    }
    .blogs {
      .card-group {
        flex-direction: column;
        padding: 0 20px;
        .card {
          margin-bottom: 20px;
        }
      }
    }
  }
  footer {
    h4,
    .link-collections {
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  @include widthChanger(748px);
  .dark-hero-bg {
    width: calc(50% - 150px);
  }

  .content {
    .hero {
      .card {
        .hero-watch-white-bg {
          right: calc(50% - 347px);
          display: block;
        }
      }
    }
    .features {
      .row.wrap {
        .feature {
          &:first-child {
            border-bottom: none;
          }
          &:nth-child(2) {
            border-bottom: none;
          }
          margin: 45px 0 37px;
          padding: 0;
          border-right: 1px solid rgba($link-color, 0.2);
        }
      }
    }
    .blogs {
      .card-group {
        flex-direction: row;
      }
    }
  }

  footer {
    h4,
    .link-collections {
      text-align: left;
    }
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .content {
    .hero {
      .card {
        .hero-text {
          .card-body {
            h5.card-title {
              font-size: 2.75rem;
              line-height: 3rem;
            }
            .card-text {
              font-size: 0.9rem;
              line-height: 1.4rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  @include widthChanger(972px);
  .dark-hero-bg {
    width: calc(50% - 130px);
  }
  .content {
    .hero {
      .card {
        .hero-watch-white-bg {
          right: calc(50% - 327px);
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  @include widthChanger(1180px);
  .dark-hero-bg {
    width: calc(50% - 110px);
  }
  .content {
    .hero {
      .card {
        .hero-watch-white-bg {
          right: calc(50% - 307px);
        }
      }
    }
  }
}
@media (min-width: 1400px) {
  @include widthChanger(1380px);
  .dark-hero-bg {
    width: calc(50% - 95px);
  }
  .content {
    .hero {
      .card {
        .hero-watch-white-bg {
          right: calc(50% - 292px);
        }
      }
    }
  }
}
