$dark-hero-bg-color: #242123;
$bg-color: #ececec;
$main-color: #292929;
$button-color: #fff;
$link-color: #c4a37b;
$nav-color: #2e2e2e;
$maintext-color: #3a3a3a;
$subtext-color: #5a5a5a;
$muted-text-color: #ababab;
$input-placeholder-color: #aeaeae;
$input-border-color: #dbdbdb;
$error-color: #ff0000d5;
